@charset "utf-8";

@font-face {
	font-family: 'Rozha One';
	src: url(RozhaOne-Regular.ttf);
	font-weight: 100;
    font-style: normal;
}
@font-face {
	font-family: 'NanumMyeongjoOTF';
	src: url(NanumMyeongjo-Regular.ttf);
	font-weight: 100;
    font-style: normal;
}